* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/**
*! Navbar style
**/
.navbar {
    background-color: bisque;
    display: flex;
    padding: 25px 60px;
    flex-direction: row;
    justify-content: space-around;
}

.cart {
    background-color: white;
    color: bisque;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
    position: relative;
}

.cart_ammount {
    font-size: 14px;
    background-color: red;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1px 2px;
}

/**
*! Item List Style
**/

.item_list{
    display: flex;
    padding: 12px;
    justify-content: space-around;
}

.card img{
    height: 15rem;
    width: 16rem;
    align-self: center;
    margin-top: 12px;
}

.item_name{
    overflow: hidden;
    height: 53px;
}